*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: rgb(153, 153, 116);
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}