*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
}
.box{
    width: 600px;
    height: 600px;
   z-index: -1;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box::before{
    content: '';
    z-index: -3;
    background-image: conic-gradient(#4adb05 28deg,transparent 128deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.box::after{
    content: "";
    z-index: -2;
    width: 590px;
    height: 590px;
    background:#101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c ;

}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  background: rgb(85 94 110 / 20%);;
    border-radius: 15px;
  
    
}

.content h1{
    
    color: bisque;
    margin-bottom: 10px;
    
}
.content p{
    justify-content: center;
    height: 300px;
    width: 550px;
    padding: 2px;
    color: white;
    margin: 5px;

 
}

.content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
   object-fit: cover;
   margin-top: 5px;
  padding-bottom: 5px;
    
}


